<div class="card shadow-sm">
  <div class="card-body" *ngIf="!showForm">
    <div class="d-flex justify-content-between align-items-start">
      <div class="titulo">
        <h3 class="font-weight-lighter">Mis Productos</h3>
        <p>Numero de registros : {{ listaProductos.length }}</p>
      </div>
      <button mat-raised-button color="accent" (click)="verForm('Agregar')">
        Registrar Producto
      </button>
    </div>
    <hr />

    <div class="row">
      <div class="col-sm-12 col-lg-6" *ngFor="let producto of listaProductos">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <img
                [src]="producto.prod_image | imagen: 'productos'"
                alt="Imagen"
                class="w-100"
              />
            </div>
            <div class="col-12 col-sm-6">
              <h3>{{ producto.prod_nombre }}</h3>
              <p>Codigo : {{ producto.prod_codigo }}</p>
              <p>Cantidad : {{ producto.prod_cantidad }}</p>
              <p>Marca : {{ producto.mc_marca }}</p>
              <p>Modelo : {{ producto.md_modelo }}</p>
              <br />
              <p class="mb-0">Precio</p>
              <h1>S/. {{ producto.prod_precio }}</h1>
              <button mat-button color="primary">Pedidos</button>
              <button
                mat-button
                color="accent"
                (click)="verForm('Actualizar', producto)"
              >
                Actualizar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---------------------------------------------->
  <!-- Formulario creacion y actualizacion producto -->
  <!---------------------------------------------->
  <div class="card-body" *ngIf="showForm">
    <div class="d-flex justify-content-between align-items-start">
      <div class="titulo">
        <h3 class="font-weight-lighter">{{ actionForm }}</h3>
        <h2 class="warn-angular font-weight-lighter">Producto</h2>
      </div>
      <button mat-fab color="warn" (click)="ocultarForm()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>

    <div class="alert alert-info" role="alert">
      <div class="d-flex justify-content-between">
        <p class="mb-0">Datos Genericos</p>
        <button mat-button color="warn" (click)="guardar()">
          Guardar Cambios
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nombre</mat-label>
          <input
            [(ngModel)]="datosProducto.prod_nombre"
            matInput
            placeholder="ingrese nombre"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Codigo</mat-label>
          <input
            [(ngModel)]="datosProducto.prod_codigo"
            matInput
            placeholder="ingrese codigo"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Precio</mat-label>
          <input
            [(ngModel)]="datosProducto.prod_precio"
            matInput
            placeholder="ingrese precio"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Cantidad</mat-label>
          <input
            [(ngModel)]="datosProducto.prod_cantidad"
            matInput
            placeholder="ingrese cantidad"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Marca</mat-label>
          <mat-select [(ngModel)]="datosProducto.idmarca">
            <mat-option
              [value]="option.idmarca"
              *ngFor="let option of optMarca"
              >{{ option.mc_marca }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Categoria</mat-label>
          <mat-select
            [(ngModel)]="datosProducto.idcategoria"
            #categoria
            (selectionChange)="categChange(categoria.value)"
          >
            <mat-option
              [value]="option.idcategoria"
              *ngFor="let option of optCateg"
              >{{ option.ct_categoria }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Modelo</mat-label>
          <mat-select [(ngModel)]="datosProducto.idmodelo">
            <mat-option
              [value]="option.idmodelo"
              *ngFor="let option of optModelo"
              >{{ option.md_modelo }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!--Seccion de la imagen -->

    <div [ngClass]="{ hide: actionForm == 'Agregar' }">
      <div class="alert alert-info" role="alert">
        <div class="d-flex justify-content-between">
          <p class="mb-0">Actualizar imagen</p>
          <button mat-button color="warn" (click)="guardarImagen()">
            Actualizar
          </button>
        </div>
      </div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Seleccione archivo</mat-label>
        <ngx-mat-file-input
          (change)="seleccionImagen($event.target.files[0])"
          placeholder="Seleccione archivo"
        ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
      <p class="text-center">Imagen previa</p>
      <img
        *ngIf="imageTemp"
        [src]="imageTemp"
        class="rounded mx-auto d-block img-thumbnail"
        alt="..."
      />
      <img
        *ngIf="!imageTemp"
        [src]="datosProducto.prod_image | imagen: 'productos'"
        class="rounded mx-auto d-block img-thumbnail"
        alt="..."
      />
    </div>

    <br />
  </div>
  <!------------------------------------------------------>
  <!-- FIN : Formulario creacion y actualizacion producto -->
  <!-------------------------------------------------------->
</div>
