body {
  margin: 0;
  color: #67757c;
}

.overflow {
  overflow: hidden;
}

.overflow:hover {
  overflow: auto;
}

/*-- =====================================================
 ANGULAR MATERIAL - Table
 ========================================================*/

table {
  width: 100%;
  table-layout: fixed;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

th.mat-sort-header-sorted {
  color: black;
}

.hide {
  display: none;
}

/*=======================================================
ESTILOS PARA EL CONTAINER ANGULAR (contiene el sidenav y content)
=======================================================*/

.mat-drawer-container {
  height: 100vh;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.mat-drawer-content {
  padding: 15px;
}

.mat-drawer {
  padding-top: 64px;
  position: fixed !important;
}

/*=======================================================
ESTILOS PERSONALIZADOS BOOTSTRAP
=======================================================*/

button:focus {
  outline: none;
}

a {
  color: unset;
}

.primary-angular {
  color: #673ab7;
}

.warn-angular {
  color: #f44336;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/*=======================================================
MEDIA QUERIS
=======================================================*/

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 20%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
