<h1 mat-dialog-title>
  <strong>{{ action }} Categoria</strong>
</h1>
<mat-dialog-content class="d-flex flex-column">
  <mat-form-field appearance="outline">
    <mat-label>Categoria</mat-label>
    <input
      matInput
      placeholder="ingrese valor"
      [(ngModel)]="localData.modelo"
      autocomplete="off"
      class="w-100"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="doAction()">{{ action }}</button>
  <button mat-button mat-flat-button color="warn" (click)="closeDialog()">
    Cancel
  </button>
</mat-dialog-actions>
